html {
  font-size: 20px;
}

@media only screen and (max-width: 1000px){
  html {
    font-size: 12px;
  }
}

/* @media only screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
} */

@media only screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #002147;
  color: white;
  text-align: center;
  font-size: 0.5em;
  font-weight: bold;
  padding: 1.5em 0;
}

main {
  display: flex;
  flex-grow: 2;
}

.section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

#section-one .title {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

#section-one .title h2 {
  font-weight: 500;
  font-size: 1.5em;
}

#section-one ol {
  text-align: center;
  font-size: 1.2em;
}

#section-two .qrcode img{
  width: 25em;
}

.title img {
  width: 9rem;
}